<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Mi Familia</li>
        <li><a href="{% url 'persona_app:home' %}">Home</a></li>
        <li>
          <a href="{% url 'persona_app:familiares' %}">Familiares</a>
          <ul class="menu vertical">
            <li><a href="{% url 'persona_app:add-familiar' %}">Añadir Familiar</a></li>
          </ul>
        </li>
          </ul>
      
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a class="button" href="{% url 'persona_app:add-familiar'%}">Registrar Familiar</a></li>
      </ul>
    </div>
</div>